# Default ignored files
**/.idea
**/.vscode
**/.bsp
**/build.sbt
**/kddcup.data.gz
**/target
**/project/build.properties
**/shelf/
**/workspace.xml
**/KDD-Cup_Dataset

# Editor-based HTTP Client requests
**/httpRequests/

# Datasource local storage ignored files
**/dataSources/
**/dataSources.local.xml

# Zeppelin ignored files
**/ZeppelinRemoteNotebooks/

Documentation/~$Plots.xlsx
anomaly-kmeans/kddcup.data
anomaly-kmeans/data/kddcup.data
